<?xml version="1.0"?>
<launch>

  <!--Required-->
  <arg name="apriltag3" default="true"/>
  <arg name="zed" default="true"/>

  <group if="$(arg zed)">
    <include file="$(find zed_wrapper)/launch/zed.launch">
    </include>

    <node name="zed_image_throttler" type="throttle" pkg="topic_tools" args="messages /zed/right/image_rect_color 15 /zed/right/throttled_image_rect" />
  </group>

  <group if="$(arg apriltag3)">
    <include file="$(find apriltag3_ros)/launch/continuous_detection.launch">
      <arg name="node_namespace" default="apriltag3_ros_continuous_node" />
      <arg name="camera_name" default="/zed/right" />
      <arg name="camera_frame" default="zed/right" />
      <arg name="image_topic" default="throttled_image_rect" />
    </include>
  </group>

</launch>
